a:hover .fa-beat-hover,
.fa-beat-hover:hover {
  -webkit-animation: fa-beat 2s infinite linear;
  -moz-animation: fa-beat 2s infinite linear;
  -o-animation: fa-beat 2s infinite linear;
  animation: fa-beat 2s infinite linear;
  color: black;
}

.fa-beat-hover:before {
  content: "Hello";
  position: absolute;
  background-color: green;
  height: 10px;
  width: 10px;
}

.color-hover:hover {
  color: black;
}

.center-large {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -160%) scale(1.5);
  transform: translate(-50%, -160%) scale(1.5);
  z-index: 50;
}

@keyframes moveTopLeft {
  0% {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -160%) scale(1.5);
    transform: translate(-50%, -160%) scale(1.5);
    z-index: 50;
  }
  100% {
    position: fixed;
    left: 0;
    top: 0;
    transform: scale(1);
    z-index: 50;
  }
}

.move-top-left {
  animation: 3s moveTopLeft ease-in-out;
}

@media (min-width: 768px) {
  .center-large {
    -webkit-transform: translate(-50%, -160%) scale(3);
    transform: translate(-50%, -160%) scale(3);
  }

  @keyframes moveTopLeft {
    0% {
      position: fixed;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -160%) scale(3);
      transform: translate(-50%, -160%) scale(3);
      z-index: 50;
    }
    100% {
      position: fixed;
      left: 1rem;
      top: 0;
      transform: scale(1);
      z-index: 50;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: 2s fadeIn linear;
  display: inline-block;
}

@keyframes fadeInShadow {
  0% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    opacity: 1;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

.box-shadow {
  animation: 2s fadeInShadow linear;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
