
body {
  background: url("../assets/running-horse-once.gif") no-repeat bottom;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 48.75%;
  background-repeat: no-repeat;
  color: #505260;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 768px) {
  body {
    background-position-x: center;
  }
}

a:hover i {
  color: #ffffff;
}

a:hover p {
  color: #ffffff;
}

i:hover {
  color: #ffffff;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

.main-nav {
  margin-top: 10%;
}

.nav-list {
  font-size: 25px;
  align-items: center;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
  padding: 10px;
}

.nav-description {
  position: fixed;
  color: #b1b5bc;
  position: fixed;
  top: 45%;
  font-size: 20px;
}

.arrow-word-right {
  right: 8%;
}

.arrow-word-left {
  left: 8%;
}

i {
  position: fixed;
  color: #b1b5bc;
}

a.left-link,
a.right-link {
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0;
}

a.left-link {
  left: 0;
}

a.right-link {
  right: 0;
}
.fa-chevron-right {
  left: 93%;
}

.fa-chevron-left {
  right: 93%;
}

a {
  color: #636573;
  text-decoration: none;
}

.contact-links {
  width: 30%;
  top: 57%;
  left: 35%;
  right: 35%;
  margin: auto;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

#contact {
  margin-top: 10%;
}

.contact-header {
  margin-bottom: 20px;
  text-align: center;
}

.form {
  margin: auto;
  background-color: rgb(234, 237, 243);
  border-radius: 5px;
  max-width: 300px;
  padding: 10px;
}

input,
textarea {
  font-size: 15px;
  width: 290px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px;
  width: 320px;
  display: block;
  background-color: rgb(234, 237, 243);
  border: none;
  border-radius: 5px;
}

h2 {
  letter-spacing: 2px;
}

@media (min-width: 768px) {

  i {
    bottom: 50%;
  }
}

@media (max-width: 720px) {
  header {
    width: 400px;
  }

  .nav-description {
    display: none;
  }

  i {
    bottom: 25%;
  }

  .fa-chevron-right {
    left: 88%;
  }

  .fa-chevron-left {
    right: 88%;
  }
}
